@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input[type="submit"], button { cursor: pointer; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sepa:before { content: ""; }

.icon-skrill:before { content: ""; }

body { font-family: "Open Sans", sans-serif; font-size: 12px; }

a { text-decoration: none; color: inherit; }
a:active { -webkit-transform: scale(0.95); -ms-transform: scale(0.95); transform: scale(0.95); }

.inner { width: 1200px; margin: 0 auto; position: relative; padding: 0 10px; }

.header { padding: 8px 0; background: #0089D5; z-index: 100; position: relative; }
.header__burger { width: 40px; height: 40px; position: absolute; right: 20px; top: -5px; display: none; }
.header__burger span { display: block; height: 4px; background: white; margin-top: 7px; }
.header__logo { display: inline-block; vertical-align: middle; }

.nav { vertical-align: middle; font-size: 0; margin-left: 50px; display: inline-block; }
.nav.is-visible { display: inline-block; }
.nav li { display: inline-block; margin-right: 40px; }
.nav li:last-of-type { margin-right: 0; }
.nav a { color: white; font-size: 15px; }
.nav a:hover, .nav a.is-active { font-weight: bold; }

.content { background: #F2F2F2; }
.content__title { font-size: 21px; margin-left: 20px; margin-bottom: 35px; }
.content__inner { width: 960px; margin: 0 auto; padding-top: 40px; padding-bottom: 90px; }
.content__box { -webkit-box-shadow: 1.4px 1.4px 2px #e0e0e0; box-shadow: 1.4px 1.4px 2px #e0e0e0; background: white; }

.tabs { padding-left: 20px; border-bottom: 1px solid #DFDFDF; }
.tabs ul { font-size: 0; }
.tabs li { display: inline-block; margin-right: 40px; }
.tabs li:last-of-type { margin-right: 0; }
.tabs li:last-of-type button { color: #009DDE; }
.tabs li:last-of-type button:hover { border-bottom-color: transparent; }
.tabs li:last-of-type button:before { display: inline-block; content: ""; vertical-align: text-top; background-image: url("../img/icons.png"); width: 16px; height: 17px; background-position: -20px -22px; margin-right: 10px; }
.tabs button { text-transform: uppercase; font-size: 15px; color: #bdbdbd; background: transparent; padding: 17px 0; border-bottom: 2px solid transparent; }
.tabs button:hover, .tabs button.is-active { color: #009DDE; border-bottom-color: #009DDE; }

.form { padding: 25px 20px 35px 20px; position: relative; }
.form__data-wrap { position: relative; display: inline-block; vertical-align: middle; padding-top: 30px; }
.form__data-wrap_name { margin-right: 20px; }
.form__data-wrap_city { width: 225px; }
.form__data-wrap_date, .form__data-wrap_amount, .form__data-wrap_time { width: 25%; }
.form__data-wrap_date .form__data, .form__data-wrap_amount .form__data, .form__data-wrap_time .form__data { border-right: none; }
.form__data-wrap_countries { display: block; }
.form__data { height: 50px; line-height: 50px; font-size: 15px; text-transform: uppercase; color: black; padding: 0 20px; border: 1px solid #DFDFDF; position: relative; }
.form__data select { position: absolute; cursor: pointer; left: 0; top: 0; width: 100%; height: 48px; border: none; color: inherit; font-size: inherit; padding: inherit; -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: ""; }
.form__data select option { width: 200px; outline: 1px solid red; }
.form__data-hint { font-size: 12px; position: absolute; top: 5px; color: #bdbdbd; left: 20px; line-height: 1; }
.form__countries { margin-top: 30px; margin-bottom: 35px; }
.form__countries-inner { border: 1px solid #DFDFDF; padding: 20px 20px 0 20px; }
.form__text { font-size: 15px; }
.form__countries-list { margin-top: 20px; font-size: 0; }
.form__countries-item { background: #F2F2F2; padding: 10px 12px; border-radius: 10px; display: inline-block; margin-right: 15px; margin-bottom: 20px; }
.form__countries-item:last-of-type { margin-right: 0; }
.form__countries-flag { display: inline-block; margin-right: 5px; }
.form__countries-flag_thai { background-image: url("../img/icons.png"); width: 16px; height: 13px; background-position: -80px -22px; }
.form__countries-flag_viet { background-image: url("../img/icons.png"); width: 16px; height: 13px; background-position: 0px -43px; }
.form__countries-flag_indo { background-image: url("../img/icons.png"); width: 16px; height: 13px; background-position: -60px -22px; }
.form__countries-cancel { display: inline-block; vertical-align: middle; margin-left: 30px; background-color: transparent; background-image: url("../img/icons.png"); width: 14px; height: 14px; background-position: 0px -60px; }
.form__countries-btns { margin-top: 25px; padding-left: 20px; }
.form__countries-btn { text-transform: uppercase; font-size: 15px; border: 2px solid #009DDE; padding: 11px 17px; border-radius: 18px; background: white; color: #009DDE; display: inline-block; margin-right: 15px; }
.form__countries-btn:hover { -webkit-box-shadow: 1px 1px 10px black; box-shadow: 1px 1px 10px black; }
.form__countries-btn_country { background: #009DDE; color: white; margin-right: 0; }
.form__filters { font-size: 0; }
.form__filters .form__data-wrap { display: table-cell; }
.form__filters-row { display: table-row; }
.form__filters-row_small { display: block; width: 75%; margin-top: 20px; }
.form__filters-row_small .form__data-wrap { width: 20%; }
.form__filters-row_small .form__data-wrap .form__data { border-right: none; }
.form__filters-row_small .form__data-wrap_location { width: 25%; }
.form__filters-row_small .form__data-wrap_location .form__data { border-right: 1px solid #DFDFDF; }
.form__hotel-rating { background-image: url("../img/icons.png"); width: 109px; height: 18px; background-position: 0px 0px; margin-top: 15px; }
.form__rating-ico { color: #00AF5A; }
.form__rating-ico:before { display: inline-block; content: ""; background-image: url("../img/icons.png"); width: 13px; height: 10px; background-position: -20px -43px; margin: 0 5px 0 5px; }
.form__cancel { text-transform: uppercase; color: #F65A48; font-size: 15px; background-color: transparent; position: absolute; right: 20px; bottom: 50px; }
.form__cancel:before { display: inline-block; content: ""; margin-right: 10px; vertical-align: middle; background-image: url("../img/icons.png"); width: 16px; height: 17px; background-position: 0px -22px; }
.form__submit { width: 250px; height: 50px; line-height: 50px; color: white; text-transform: uppercase; text-align: center; background: #FF8F38; font-size: 15px; position: absolute; right: 20px; top: 55px; }
.form__submit:hover { background: #eb6700; -webkit-box-shadow: 1px 1px 10px black; box-shadow: 1px 1px 10px black; }
.form__submit span { display: inline-block; background-image: url("../img/icons.png"); width: 16px; height: 16px; background-position: -40px -22px; vertical-align: middle; margin-left: 8px; }

.ui-widget-header { background: #009DDE !important; border: none !important; }
.ui-widget-header .ui-icon { background-image: url("../img/ui-icons_ffffff_256x240.png") !important; }

.ui-datepicker-next:hover, .ui-datepicker-prev:hover { background: transparent !important; border: 1px solid white !important; }

.footer { padding-top: 50px; padding-bottom: 45px; border-top: 1px solid #DFDFDF; }
.footer__title { font-size: 16px; text-transform: uppercase; margin-bottom: 15px; }
.footer__main { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 40px; }
.footer li { color: #838383; margin-bottom: 5px; font-size: 14px; }
.footer li:last-of-type { margin-bottom: 0; }
.footer a:hover { color: #FF8F38; }
.footer a.underlined { border-bottom: 1px dotted; }
.footer a i { display: inline-block; margin-right: 5px; }
.footer__out-text { color: #838383; font-size: 14px; text-align: right; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }
@media only screen and (max-width: 1200px){
 .inner{ width: auto; } }
@media only screen and (max-width: 960px){
 .content__inner{ width: 100%; }
 .tabs li{ margin-right: 20px; }
 .form__filters-row_small{ width: 100%; }
 .form__filters-row_small .form__data-wrap{ width: 15%; }
 .form__cancel{ position: static; display: inline-block; margin-top: 20px; }
 .form__submit{ width: 220px; }
 .footer__main{ -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
 .footer ul{ margin: 0 20px 20px 20px; } }
@media only screen and (max-width: 767px){
 .header{ position: fixed; width: 100%; }
 .header__burger{ display: block; }
 .nav{ display: none; position: absolute; top: 42px; margin-left: 0; background: #0089D5; left: 0; width: 100%; padding: 10px 0; }
 .nav li{ display: block; text-align: center; margin-right: 0; margin-bottom: 5px; }
 .content{ padding-top: 50px; }
 .content__title{ text-align: center; margin-bottom: 25px; font-size: 20px; }
 .content__inner{ padding-top: 30px; padding-bottom: 60px; }
 .tabs li{ display: block; margin-right: 0; text-align: center; }
 .tabs button{ font-size: 14px; padding: 10px 0; }
 .form{ text-align: center; }
 .form__data-wrap{ display: block; }
 .form__data-wrap_name{ margin-right: 0; }
 .form__data-wrap_city{ width: 100%; }
 .form__data-wrap_hotels .form__text{ text-align: left; }
 .form__data-wrap_date, .form__data-wrap_amount, .form__data-wrap_time{ width: 100%; }
 .form__data-wrap_date .form__data, .form__data-wrap_amount .form__data, .form__data-wrap_time .form__data{ border-right: 1px solid #DFDFDF; }
 .form__data{ display: block; width: 100%; margin-bottom: 15px; font-size: 14px; }
 .form__data-hint{ left: 0; }
 .form__countries{ margin-top: 15px; margin-bottom: 20px; }
 .form__text{ font-size: 14px; }
 .form__countries-btn{ margin-right: 0; margin-bottom: 10px; font-size: 14px; }
 .form__filters .form__data-wrap{ display: block; }
 .form__filters-row{ display: block; }
 .form__filters-row_small{ margin-top: 0; }
 .form__filters-row_small .form__data-wrap{ width: 100%; }
 .form__filters-row_small .form__data-wrap .form__data{ border-right: 1px solid #DFDFDF; }
 .form__cancel{ font-size: 14px; }
 .form__submit{ position: static; margin: 20px 10px; font-size: 14px; }
 .footer{ padding: 35px 0; }
 .footer__title{ text-align: center; }
 .footer__main{ display: block; text-align: center; }
 .footer__out-text{ text-align: center; } }



/*# sourceMappingURL=style.css.map */
