
//start footer
footer.footer
	.inner
		h4.footer__title Туристический проект
		.footer__main
			ul
				li Москва, 1-ый Щипковский переулок, д.1
				li: a.underlined(href="#") Показать на карте
			ul
				li Время работы офиса:
				li Будни 10:00 - 21:00
				li Выходные и праздники 11:00 - 17:00
			ul
				li: a(href="tel:+74955855555") +7 495 585 55 55
				li: a.underlined(href="#") Обратная связь
			ul
				li: a(href="#") #[i(class="fa fa-vk" aria-hidden="true") ] ВКонтакте
				li: a(href="#") #[i(class="fa fa-facebook-square" aria-hidden="true") ] Facebook
				li: a(href="#") #[i(class="fa fa-instagram" aria-hidden="true") ] Instagram
				li: a(href="#") #[i(class="fa fa-odnoklassniki" aria-hidden="true") ] Одноклассники
		p.footer__out-text Разработано командой TourAdmin &copy; 2017
//end footer
