//start header
header.header

	.inner
		a.header__logo(href="#")
			img(src="img/logo-2.png")
		ul.nav
			li: a(href="#") Моя лента
			li: a.is-active(href="#") Интересы
			li: a(href="#") Направления
			li: a(href="#") Подбор тура
			li: a(href="#") Заявка
		//.header__burger
		//	span
		//	span
		//	span
//end header