
doctype html
html
	head
		meta(charset="utf-8")
		block title
			title Jade Layout Template
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" media="all" href="css/style.css")
		link(rel="stylesheet" media="all" href="css/jquery-ui.min.css")
		link(rel="stylesheet" media="all" href="css/jquery-ui.theme.min.css")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700" rel="stylesheet")
	body
		.out
			block content

		script(async src="js/app.js")

