extends _layout

block title
	title by Anton Bilichenko

block content
	include _header

	main.content
		.content__inner
			h1.content__title Настройки интересов
			.content__box
				.tabs
					ul
						li: button Подборка васи
						li: button.is-active Подборка 123
						li: button Турция 20.03
						li: button Подборка #1
						li: button Добавить подборку
				form.form
					.form__top
						.form__data-wrap.form__data-wrap_name
							span.form__data-hint Название подборки
							input.form__data(type='text' value="Подборка 123")

						.form__data-wrap.form__data-wrap_city
							span.form__data-hint Ваш город
							.form__data
								select
									option Киев
									option Москва
									option Санкт-Петербург
									option Одесса
					.form__countries
						.form__data-wrap.form__data-wrap_countries
							span.form__data-hint Вы можете задать несколько стран или регионов для одной подборки
							.form__countries-inner
								p.form__text Юго-Восточная Азия
								.form__countries-list
									.form__countries-item
										p.form__text #[i.form__countries-flag.form__countries-flag_thai] Таиланд
											button.form__countries-cancel

									.form__countries-item
										p.form__text #[i.form__countries-flag.form__countries-flag_viet] Вьетнам
											button.form__countries-cancel

									.form__countries-item
										p.form__text #[i.form__countries-flag.form__countries-flag_indo] Индонезия
											button.form__countries-cancel

							.form__countries-btns
								button.form__countries-btn.form__countries-btn_reg Добавить регион
								button.form__countries-btn.form__countries-btn_country Добавить страны
					.form__filters
						.form__filters-row
							.form__data-wrap.form__data-wrap_date
								span.form__data-hint Дата вылета
								input.form__data#datepicker(type='text' value="12/06/2017")

							.form__data-wrap.form__data-wrap_time
								span.form__data-hint На сколько
								.form__data
									select
										option До 7 дней
										option 7-10 дней
										option 10-14 дней
										option Больше 14 дней
							.form__data-wrap.form__data-wrap_amount
								span.form__data-hint Количество гостей
								.form__data
									select
										option 2 взрослых, 2 детей
										option 1 взрослый
										option 2 взрослых
										option Без детей
							.form__data-wrap.form__data-wrap_price
								span.form__data-hint Стоимость услуги
								.form__data
									select
										option До 50 000 Р
										option 50 000 - 100 000 Р
										option 100 000 - 150 000 Р
										option Больше 150 000 Р
						.form__filters-row.form__filters-row_small
							.form__data-wrap
								span.form__data-hint Категория отелей от
								.form__data
									.form__hotel-rating
							.form__data-wrap.form__data-wrap_hotels
								span.form__data-hint Рейтинг TopHotels
								.form__data
									p.form__text Не ниже #[span.form__rating-ico 4.0]

							.form__data-wrap
								span.form__data-hint Тип питания
								.form__data
									select
										option Любой
										option 2 раза
										option All inclusive

							.form__data-wrap.form__data-wrap_location
								span.form__data-hint Расположение
								.form__data
									select
										option Пляжные, 1-я линия
										option Пляжные, 2-я линия
										option Пляжные, 3-я линия
					button.form__cancel Удалить подборку
					button(type="submit").form__submit Смотреть результат #[span]







	include _footer




